@using EntityLayer.Concrete
@model List<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<table class="table table-bordered" style="text-align:center; margin-top:20px">
    <tr>
        <th>#</th>
        <th>Ürün Ad</th>
        <th>Fiyat</th>
        <th>Model</th>
        <th>Stok</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Brand</td>
            <td>@item.Stock</td>
            <td>@item.Category.Name</td>
            <td><a href="/Product/DeleteProduct/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Product/UpdateProduct/@item.Id" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
</table>

